<div class="avatarsForm">
    <div class="silverAvatar">
        <img class="avatarsPic" src="https://i.imgur.com/560EYQV.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/560EYQV.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/kde0AdN.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/kde0AdN.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/e3i3Lmy.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/e3i3Lmy.png'>
    </div>
</div>
<button><a href="new">Go back to New Pokemon Form</a></button>