<div class="positionLogo">
    <img class="logoPic" src="https://i.imgur.com/NDYcSJP.png">
    <a href="/trainers"><img class="homeButton" src="https://i.imgur.com/5dicAEq.png"/></a>
</div>

<div class="pokemonRow">
    {{#each pokemon}}
    <a href='/trainers/{{../trainerId}}/teams/{{../teamId}}/pokemon/{{this._id}}'><img class="pokemonPics" src="{{this.imgUrl}}"></a>
    {{/each}}
</div>