<div class="positionLogo">
    <img class="logoPic" src="https://i.imgur.com/NDYcSJP.png">
    <a href="/trainers"><img class="homeButton" src="https://i.imgur.com/5dicAEq.png"/></a>
</div>

<div class="createForm">
    <form action='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon' method='POST'>
        <h1>New Pokemon</h1><br>
        Name:<br>
        <input type='text' name='name' value="Charmander"><br>
        Type:<br>
        <input type='text' name='type' value="https://i.imgur.com/FpnxSI9.png?1"><br>
        Move One:<br>
        <input type='text' name='moveOne' value="Growl"><br>
        Move Two:<br>
        <input type='text' name='moveTwo' value="Ember"><br>
        Move Three:<br>
        <input type='text' name='moveThree' value="Smokescreen"><br>
        Move Four:<br>
        <input type='text' name='moveFour' value="Leer"><br>
        PokeDex #:<br>
        <input type='text' name='dexNumber' value="4"><br>
        Image Url:<br>
        <input type="text" name="imgUrl" value="https://i.imgur.com/e3i3Lmy.png"><br><br>
        <div><input type='submit' value='Create New Pokemon'></div>
    </form>
</div>
<div><img class="pikachu" src="https://i.imgur.com/zzPz6bH.png" /></div>
<div><img class="pikachuBubble" src="https://i.imgur.com/wqy9c7X.png" /></div>
<div class="pikachuDialogue">
    <p>Pika! Pika pika, pikachu, pika, chu! Pika pika. Pikachu! Pika pika chu, pika. Pikachu, pika,
        pika, chu! Pika, pikachu! Pika, pika <a href="avatars">Pika</a>! Pikachu!</p>
</div>
<div><img class="starters" src="https://i.imgur.com/0Z7H1j6.png" /></div>