<div class="createForm">
<form action='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon' method='POST'>
    <h1>New Pokemon</h1><br>
    Name:<br>
    <input type='text' name='name' value="New Pokemon"><br>
    Type:<br>
    <input type='text' name='type' value="Type"><br>
    Move One:<br>
    <input type='text' name='moveOne' value="Move One"><br>
    Move Two:<br>
    <input type='text' name='moveTwo' value="Move Two"><br>
    Move Three:<br>
    <input type='text' name='moveThree' value="Move Three"><br>
    Move Four:<br>
    <input type='text' name='moveFour' value="Move Four"><br>
    Image Url:<br>
    <input type="text" name="imgUrl" value="Image Url"><br><br>
    <div><input type='submit' value='Create New Pokemon'></div>
</form>
</div>