<br><br><br><br>
<h1>All Teams</h1> <a href='/trainers/{{trainerId}}/teams/new'>( new )</a>

<div>
    {{#each teams}}
        <div><a href='/trainers/{{../trainerId}}/teams/{{this._id}}'><img class="allTeams" src="{{this.imgUrl}}"></a></div>
    {{/each}}
</div>