<div class="createForm">
<form action='/trainers/{{trainerId}}/teams' method='POST'>
    <h1>New Team</h1><br>
    Team Name:<br>
    <input type='text' name='name' value="New Trainer"><br>
    Style:<br>
    <input type='text' name='style' value="Offensive/Defensive/Balanced"><br>
    Image Url:<br>
    <input type="text" name="imgUrl" value="https://i.imgur.com/hYZaKsY.png"><br><br>
    <div><input type='submit' value='Create New Team'></div>
</form>
</div>