<div class="createForm">
<form action='/trainers/{{trainer._id}}/teams/{{teams._id}}' method='POST'>
    <h1>New Team</h1><br>
    Team Name:<br>
    <input type='text' name='name'><br>
    Style:<br>
    <input type='text' name='style'><br>
    Image Url:<br>
    <input type="text" name="imgUrl"><br><br>
    <div><input type='submit' value='Create New Team'></div>
</form>
</div>