<div class="createForm">
<form action='/trainers/{{trainerId}}/teams' method='POST'>
    <br><h1>New Team</h1>
    Team Name:<br>
    <input type='text' name='name' value="New Trainer"><br>
    Style:<br>
    <input type='text' name='style' value="Offensive/Defensive/Balanced"><br>
    Image Url:<br>
    <input type="text" name="imgUrl" value="https://i.imgur.com/hYZaKsY.png"><br><br>
    <div><input type='submit' value='Create New Team'></div><br><br><br>
</form>
</div>

<img class="water" src="https://i.imgur.com/V4NtSCe.png?1"/>
<img class="fire" src="https://i.imgur.com/FpnxSI9.png?1"/>
<img class="grass" src="https://i.imgur.com/UbN8xcr.png?1"/>
<img class="psychic" src="https://i.imgur.com/kGXVMXX.png?1"/>
<img class="electric" src="https://i.imgur.com/pZtQPZG.png?1"/>
<img class="flying" src="https://i.imgur.com/MsH4uzj.png?1"/>
<img class="steel" src="https://i.imgur.com/9WjyB4L.png?1"/>
<img class="ghost" src="https://i.imgur.com/v6jCBSN.png?1"/>
<img class="normal" src="https://i.imgur.com/y2yHkrH.png?1"/>
<img class="ice" src="https://i.imgur.com/vXRVv2h.png?1"/>
<img class="rock" src="https://i.imgur.com/bHULcoX.png?1"/>
<img class="poison" src="https://i.imgur.com/yQkDiQw.png?1"/>
<img class="dragon" src="https://i.imgur.com/emcjV6P.png?1"/>
<img class="fairy" src="https://i.imgur.com/yhJfipx.png?1"/>
<img class="ground" src="https://i.imgur.com/nRQkj67.png?1"/>
<img class="bug" src="https://i.imgur.com/wrYSE04.png?1"/>
<img class="fighting" src="https://i.imgur.com/4h4YJsl.png?1"/>
<img class="dark" src="https://i.imgur.com/PMt69JR.png?1"/>