<div class="signUp">
<p>Welcome to 'I Choose You'.</p>  
<p>Start your adventure by siging up.</p> 
<div>
    <form action='/trainers/{{trainer._id}}' method='POST'>
  TrainerID:<br>
  <input type="text" name="name"><br>
  Region:<br>
  <input type="text" name="region"><br>
  Hometown:<br>
  <input type="text" name="hometown"><br>
   Age:<br>
  <input type="text" name="age"><br>
  Gender:<br>
  <input type="text" name="gender"><br>
  Image URL:<br>
  <input type="text" name="imgUrl"><br>
  <input type="submit" value="Let's Go!">
</form>
</div>
<p>Already have an account?  <a href='/trainers'>Log in</a></p>
</div>
