<!DOCTYPE html>
<html>

<head>
  <title>I Choose You</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
  {{!-- <div><img class="logo" src="https://i.imgur.com/NDYcSJP.png"></div> --}}
  {{!-- <div><a href="/trainers"><img class="homeButton" src="https://i.imgur.com/5dicAEq.png"/></a></div> --}}
  {{{body}}}
</body>

</html>