<!DOCTYPE html>
<html>

<head>
  <title>I Choose You</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <div><img class="logo" src="https://i.imgur.com/NDYcSJP.png"></div>
</head>

<body>
  {{{body}}}
</body>

</html>