<!DOCTYPE html>
<html>

<head>
  <title>I Choose You</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>

</html>