body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/ZzJFkzk.jpg');
  text-align: center;
}

a {
  color: #00B7FF;
}

.createForm {
  background-color: #1a1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  margin: auto;
  width: 50%;
  border: 3px solid white;
  border-radius: 3%;
  padding: 10px;
}

.trainerImage {
  float: left;
}

.trainerInfo {
  position: absolute;
  top: 205px;
  right: 295px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.age {
  position: absolute;
  top: 275px;
  right: 295px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.gender {
  position: absolute;
  top: 318px;
  right: 295px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.hometown {
  position: absolute;
  top: 358px;
  right: 295px;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.region {
  position: absolute;
  top: 390px;
  right: 295px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.championTeam {
  position: absolute;
  top: 420px;
  right: 295px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotOne {
  position: absolute;
  top: 207px;
  right: 146px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotTwo {
  position: absolute;
  top: 207px;
  right: 16px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotThree {
  position: absolute;
  top: 333px;
  right: 146px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotFour {
  position: absolute;
  top: 333px;
  right: 16px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotFive {
  position: absolute;
  top: 457px;
  right: 146px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotSix {
  position: absolute;
  top: 457px;
  right: 16px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.badge {
  position: absolute;
  background-image: url('https://i.imgur.com/yXtuzlP.jpg');
  height: 600px;
  width: 920px;
}

.pokemonPics {
  height: 200px;
}