body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/ZzJFkzk.jpg');
  text-align: center;
}

a {
  color: #00B7FF;
}

.createForm {
  position: absolute;
  top: 250px;
  left: 300px;
  background-color: #1a1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  margin: auto;
  width: 50%;
  border: 3px solid white;
  border-radius: 3%;
  padding: 10px;
}

.trainerImage {
  float: left;
}

.trainerInfo {
  position: absolute;
  top: 205px;
  right: 295px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.age {
  position: absolute;
  top: 275px;
  right: 295px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.gender {
  position: absolute;
  top: 318px;
  right: 295px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.hometown {
  position: absolute;
  top: 358px;
  right: 295px;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.region {
  position: absolute;
  top: 390px;
  right: 295px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.championTeam {
  position: absolute;
  top: 628px;
  right: 465px;
}

.trainerForm {
  position: absolute;
  top: 670px;
  right: 485px;
}

.slotOne {
  position: absolute;
  top: 207px;
  right: 146px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotTwo {
  position: absolute;
  top: 207px;
  right: 16px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotThree {
  position: absolute;
  top: 333px;
  right: 146px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotFour {
  position: absolute;
  top: 333px;
  right: 16px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotFive {
  position: absolute;
  top: 457px;
  right: 146px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.slotSix {
  position: absolute;
  top: 457px;
  right: 16px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.badge {
  position: absolute;
  top: 200px;
  left: 190px;
  background-image: url('https://i.imgur.com/yXtuzlP.jpg');
  height: 600px;
  width: 920px;
}

.pokemonPics {
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.pokemonRow {
  position: absolute;
  top: 225px;
  left: 490px;
  max-width: 500px;
}

.allTeams {
  height: 200px;
}

.oak {
  position: absolute;
  left: 800px;
  bottom: 5px;
}

.ruby {
  position: absolute;
  left: 300px;
  top: 205px;
}

.pidgeotto {
  position: absolute;
  left: 810px;
  top: 220px;
}

.logo {
  position: absolute;
  bottom: 560px;
  right: 350px;
  width: 600px;
}

.dragonite {
  position: absolute;
  left: 100px;
  bottom: 5px;
  transform: scaleX(-1);
  filter: 'FlipH';
  -ms-filter: "FlipH"
}

.addNew {
  position: absolute;
  top: 248px;
  right: 448px;
}

.pokemonRowBackdrop {
  background-color: rgb(18, 180, 238);
  position: absolute;
  top: 145px;
  left: 248px;
  border-radius: 25px;
}

.teamIcon {
  height: 225px;
  position: absolute;
  top: 250px;
  left: 252px;
}

.crown {
  height: 25px;
}

.teamName {
  position: absolute;
  top: 170px;
  left: 720px;
}

.teamStyle {
  position: absolute;
  top: 465px;
  left: 280px;
  color: white;
}

.pokemonNew {
  position: absolute;
  top: 602px;
  left: 270px;
}

.teamDelete {
  position: absolute;
  top: 602px;
  left: 360px;
}

.teamNavigate {
  position: absolute;
  top: 602px;
  left: 443px;
  color: white;
}

.teamEdit {
  position: absolute;
  top: 602px;
  left: 538px;
  color: white;
}

.trainerEdit {
  position: absolute;
  top: 5px;
  left: 390px;
}

.smeargle {
  position: absolute;
  top: 10px;
  right: 450px;
  height: 300px;
}

.trainerLinks {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.dexMon {
  height: 250px;
  position: absolute;
  top: 155px;
  right: 505px;
}

.dexType {
  position: absolute;
  top: 520px;
  left: 500px;
}

.dexMoves {
  text-align: left;
  position: absolute;
  top: 520px;
  left: 620px;
}

.dexNavigate {
  position: absolute;
  top: 680px;
  left: 520px;
}

.trainerButton {
  width: 80px;
}

.rubyDialogue {
  position: absolute;
  top: 60px;
  left: 90px;
  max-width: 230px;
}

.bubble {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 300px;
  transform: scaleX(-1);
  filter: 'FlipH';
  -ms-filter: "FlipH"
}

.avatarsForm {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 25px;
  margin-top: 150px;
  background-color: #1a1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.avatarsPic {
  height: 300px;
}

.pokeName {
  position: absolute;
  top: 630px;
  left: 560px;
}

.pokedex {
  position: absolute;
  top: 140px;
  right: 180px;
}

.pikachu {
  position: absolute;
  top: 500px;
  right: 350px;
  height: 200px;
}

.pikachuBubble {
  position: absolute;
  top: 310px;
  right: 135px;
  width: 260px;
}

.pikachuDialogue {
  position: absolute;
  top: 360px;
  right: 160px;
  max-width: 220px;
}

.starters {
  position: absolute;
  top: 530px;
  left: 175px;
  height: 180px;
}

.silverAvatar {
  padding-right: 10px;
}