<div class="avatarsForm">
    <div class="silverAvatar">
        <img class="avatarsPic" src="https://i.imgur.com/NUMNvaC.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/NUMNvaC.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/o8gWB6N.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/o8gWB6N.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/SgeGKHP.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/SgeGKHP.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/QEr6cAa.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/QEr6cAa.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/7NtZUfb.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/7NtZUfb.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/o1fTP0h.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/o1fTP0h.png'>
    </div>
    <div>
        <img class="avatarsPic" src="https://i.imgur.com/qY05iDU.png" /><br>
        <input type='text' name='name' value='https://i.imgur.com/qY05iDU.png'>
    </div>
</div>

<button><a href="/trainers/new">Go back to New Trainer Form</a></button>