<div class="avatarsForm">
    <p>Right click on an Avatar and select 'Copy Image Address'.  You can then paste the address into the Image Url field on the New Trainer Form.</p>
    <img class="avatarsPic" src="https://i.imgur.com/NUMNvaC.png"/>
    <img class="avatarsPic" src="https://i.imgur.com/o8gWB6N.png"/>
    <img class="avatarsPic" src="https://i.imgur.com/SgeGKHP.png"/>
    <img class="avatarsPic" src="https://i.imgur.com/QEr6cAa.png"/>
    <img class="avatarsPic" src="https://i.imgur.com/7NtZUfb.png"/>
    <img class="avatarsPic" src="https://i.imgur.com/o1fTP0h.png"/>
    <img class="avatarsPic" src="https://i.imgur.com/qY05iDU.png"/>
    <p>Go back to <a href="/trainers/new">New Trainer Form</a></p>
</div>