

<div><img src="https://i.imgur.com/WnqXKfd.png"/></div>

<div class="addNew"><h3>Select a Trainer below or add a <a href='/trainers/new'>( new )</a> one!</h3></div>

<div>
    {{#each trainers}}
        <a href='/trainers/{{this._id}}'><img src="{{this.imgUrl}}"></a>
    {{/each}}
</div>