<h1>New Trainer</h1>

<form action='/trainers/{{trainer._id}}' method='POST'>
    <div>Image Url:<input type="text" name="imgUrl"></div>
    <div>TrainerID:<input type='text' name='name'></div>
    <div>Region:<input type='text' name='region'></div>
    <div>Hometown:<input type='text' name='hometown'></div>
    <div>Teams:<input type='text' name='teams'></div>
    <div><input type='submit' value='Create New Trainer'></div>
</form>