<div class="createForm">
<form action='/trainers/{{trainer._id}}' method='POST'>
    <h1>New Trainer</h1><br>
    TrainerID:<br>
    <input type='text' name='name' value='Ruby'><br>
    Region:<br>
    <input type='text' name='region' value='Hoenn'><br>
    Hometown:<br>
    <input type='text' name='hometown' value='Littleroot Town'><br>
    Age:<br>
    <input type='text' name='age' value='11'><br>
    Gender:<br>
    <input type='text' name='gender' value='F'><br>
    Image Url:<br>
    <input type="text" name="imgUrl" value='https://i.imgur.com/ULBOeND.png'><br><br>
    <div><input type='submit' value='Create New Trainer'></div>
</form>

<div class="ruby">
  <img src="https://i.imgur.com/ULBOeND.png"/>
</div>
<div class="pidgeotto">
  <img src="https://i.imgur.com/JuOoelo.png"/>
</div>
</div>